* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.05rem;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
  padding: 30px;
}

h3.title-section {
  margin-top: 40px;
  color: #4B0082;
}

.cv-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sidebar {
  background-color: #1f2430;
  color: #fff;
  padding: 2rem;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.sidebar h3 {
  font-size: 1.2rem;
  color: #a1a1a1;
  margin-bottom: 1rem;
}

.sidebar hr {
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #444;
}

.sidebar p {
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.sidebar .svg {
  width: 22px;
  height: 22px;
  margin-right: 1rem;
}

.content {
  padding: 2rem;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  align-items: center;
}

header .infos {
  font-size: 1.2rem;
}

header .infos h1 {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

header .infos p {
  color: #777;
}

.sidebar .cv-img {
  width: 150px;
  margin-left: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.projects {
  font-size: 1rem;
}

.projects h3 {
  color: #1f2430;
}

.projects p {
  margin-bottom: 0.8rem;
  color: #555;
}

.projects p a {
  color: #1f2430;
  text-decoration: none;
  font-weight: 500;
}

.projects p a:hover {
  text-decoration: underline;
}

main {
  margin-top: 30px;
}

section {
  margin-bottom: 30px;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #1f2430;
  font-weight: bold;
}

section hr {
  width: 60px;
  height: 2px;
  background-color: #1f2430;
  margin-bottom: 1rem;
}

section ul {
  list-style: none;
}

section ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
  position: relative;
}

section ul li:before {
  content: '•';
  margin-left: 10px;
  color: #1f2430;
  position: absolute;
  left: -1.5rem;
  top: 0;
}

.date {
  font-size: 1rem;
  color: #888;
  margin-top: 5px;
}

.objective {
  font-size: 1.2rem;
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0.9rem;
  color: #888;
}

footer a {
  color: #1f2430;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.sidebar p:hover {
  color: #fff;
  background-color: #3e444e;
  padding-left: 0.5rem;
  transition: all 0.3s ease;
}

.sidebar h3 {
  color: #dcdcdc;
}